h1 {
  color: green;
  text-align: center;
}

h2 {
  font-style: bold;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  text-align: center;
}

ul {
  font-size: 35px;
  line-height: 45px;
  color: red;
  list-style-type:circle;
}
ol {
  font-size: 25px;
  line-height: 35px:
}
img {
      display: block;
      margin-left: auto;
      margin-right: auto;
}
